<div id="comment-content">
    <div id="comment" class="comment-box def-container">
        <div><a href="{{this.commenter}}"><img src="images/users/{{this.commenter}}.jpg" class="commenter-pic"></a></div>
        <div>
            <p class="comments"><span class="commenter-user">{{this.cUserName}} </span> <span class="commenter-date"> &bull; {{this.date}} </span><br>{{this.comment}}</p>
        </div>
    </div>
</div>