<div id="comments-box" class="def-container">
    <div><a href="/user/{{this.id}}"><img src={{this.profileImg}} class="commenter-pic"></a></div>
    <div>
        <p class="comments">
            <span class="commenter-user">{{this.username}}</span> 
            <span class="commenter-date">{{this.date}} </span><br>
            {{this.comment}} </p>
    </div>
</div>