<div id="{{_id}}" class="comment-box def-container">
    <div><a href="../user/{{author._id}}"><img src="../{{author.profileImg}}" class="commenter-pic"></a></div>
    <div>
        <p class="comments">
            <span class="commenter-user">{{author.username}}</span> 
            <span class="commenter-date">{{formatDate updatedAt}}{{#if edited}}(Edited){{/if}}</span>
            <!-- ADD HERE SPAN-->
            <br>
            {{{content}}} 
        </p>
    </div>
</div>