<div id="{{_id}}" class="comment-box def-container">
    <a href="/users/{{author._id}}"><img crossorigin="anonymous" src="{{author.profileImg}}" class="commenter-pic"></a>
    <div class="comment-body">
        <div class="comment-content">
            <a href="/users/{{author._id}}" class="commenter-user">{{author.username}}</a> 
            <span class="commenter-date">{{formatDate createdAt}} {{#if edited}}&bull; Edited on {{formatDate editedAt}}{{/if}}</span>
            {{#if isCurrentUser}}
                <span class="comment-edit text-clickable" style="margin-left: 5px"><i class="fa-solid fa-pen-to-square"></i></span>
                <span class="text-success"></span>
            {{/if}}
            <p>{{{content}}}</p>
        </div>
        {{#if isCurrentUser}}
            <div class="comment-edit-form hide">
                <textarea class="comment-edit-textarea" placeholder="Edit your comment...">{{removeNewlinesAndTags content}}</textarea>
                <div class="comment-edit-buttons">
                    <button class="comment-edit-delete button-primary red">Delete</button>
                    <div>
                        <button class="comment-edit-save button-primary" disabled><i class="fa-solid fa-check"></i> Save</span>
                        <button class="comment-edit-cancel button-secondary"><i class="fa-solid fa-times"></i> Cancel</span>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>

</div>