<div id="{{_id}}" class="comment-box def-container">
    <div><a href="../user/{{author._id}}"><img src="../{{author.profileImg}}" class="commenter-pic"></a></div>
    <div>
        <p class="comments">
            <span class="commenter-user">{{author.username}}</span> 
            <span class="commenter-date">{{formatDate updatedAt}}</span>
            {{#if isCurrentUser}}
                <span class="commenter-edit text-clickable" style="margin-left: 5px"><i class="fa-solid fa-pen-to-square"></i></span>
            {{/if}}
            <br>
            {{{content}}} 
        </p>
    </div>
</div>