{{>header}}
<main>
    <div id="main-post" class="def-container">
        <div id="discussion-content" class="def-container content-box">
            <div class = "content">
                <div id="post-header">
                    <a href="../users/{{discussion.author._id}}">
                        <img src="../{{discussion.author.profileImg}}" id="profile-pic">
                    </a>
                </div>
                
                <div>
                    <div>
                        <h1 id="title-text">{{title}}</h1>
                        <span id="username-text">{{discussion.author.username}}</span>
                        <span id="date-text"> &bull; {{formatDate discussion.createdAt}} {{#if discussion.edited}}&bull; Edited on {{formatDate discussion.editedAt}}{{/if}}</span>
                    </div>
                </div>
            </div>
                
            <div><h3 id="content-text">{{{discussion.content}}}</h3></div>          
            <div id="options">
                <a href="#comment-content" id="comment" class="text-clickable"><i class="fa-solid fa-message"></i><span id="commenters"> {{discussion.commentsNo}}</span></a>
                {{!-- <div id="share" class="text-clickable"><i class="fa-solid fa-share"></i><span id="share"> Share</span></div> --}}
                {{#if isCurrentUser}}
                    <div id = "edit" class="text-clickable"><i class="fa-solid fa-pen-to-square"></i><span id="edit"> Edit</span></div>
                {{else}}
                    <div id="follow" class="text-clickable"><i class="fa-solid fa-star"></i><span id="follow"> Follow</span></div>
                {{/if}}
            </div>
        </div>


        <!-- Text Box -->
        <form class="def-container content-box">
            <textarea type="text" id="comment-input" name="comment-input" class="comment-input"></textarea>
            <div class = "comment-button">
                <button id="create-button" class="button-primary">Comment</button>
                <p class="text-error"></p>
            </div>
        </form>

        <div id="comment-content">
            {{#if comments}}
            {{#each comments}}
                {{>comment}}
            {{/each}}
            {{else}}
                <p>No comments...</p>
            {{/if}}
        </div>
    </div>
</main>