{{>header}}
<main>
    <section>
        <div id="posts-box" class="def-container">            
            <div id = "filter-box" class="def-container">
                <div id="filter-all" class="filter-icon">
                    <i class="fa-solid fa-eye"></i>
                    <p class="filter-name active">Overview</p>
                </div>

                <div id="filter-posts" class="filter-icon">
                    <i class="fa-solid fa-pen"></i>
                    <p class="filter-name">Posts</p>
                </div>

                <div id="filter-comments" class="filter-icon">
                    <i class="fa-solid fa-message"></i>
                    <p class="filter-name">Comments</p>
                </div>

                <div id="filter-followings" class="filter-icon">
                    <i class="fa-solid fa-star"></i>
                    <p class="filter-name">Following</p>
                </div>
            </div>    
            <div id = "posts-container">    
                {{#if hasPosts}}
                    {{#each discussions}}
                        {{>discussion-preview}}
                    {{/each}}
                    {{#each comments}}
                        {{>comment-preview}}
                    {{/each}}
                    {{#each followings}}
                        {{>following-preview}}
                    {{/each}}
                {{else}}
                    <div id="scaffold">
                        <img src="../images/design/404.png">
                        <h1 id="text-title">No posts yet</h1>
                    </div>
                {{/if}}
            </div>
        </div>
    </section>

    <aside>
        <div id="profile-box" class="def-container">
            <div id="profile-header">
                <img id="cover-photo" src="../{{profile.coverImg}}">
                <img id="profile-pic" src="../{{profile.profileImg}}">
                {{#if isCurrentUser}}
                <a href="/settings">
                    <i class="fa-solid fa-gear settings-wheel"></i>
                </a>
                {{/if}}
            </div>

            <div id="profile-content">
                <h1 id="full-name" class="header-format">{{profile.firstname}} {{profile.lastname}}</h1>
                <h4 id="username" class="header-format">{{profile.username}}</h3>
                    <h5 class="bio-format"><span id="bio">{{profile.bio}}</span> </h5>
                <div class="other-info">
                    {{#if profile.showBirthday}}<div><h4>Birthday: <br><span id="birthday">{{#if profile.birthday}}{{birthday profile.birthday}}{{else}}-{{/if}}</span> </h4></div>{{/if}}
                    {{#if profile.showPhoneNumber}}<div><h4>Phone Number: <br><span id="phone-number">{{#if profile.phoneNumber}}{{profile.phoneNumber}}{{else}}-{{/if}}</span> </h4></div>{{/if}}
                </div>

                {{#if isCurrentUser}}
                <!-- New post button redirect to start discussion -->
                <a href = "/startdiscussion">
                    <button id="settings" class="button-primary">Start New Discussion</button>
                </a>
                {{/if}}
            </div>
        </div>
    </aside>
</main>
{{!-- Quickest way --}}
<script>
const discussionArr = [{{#each discussions}}`{{>discussion-preview}}`,{{/each}}];
const commentArr = [{{#each comments}}`{{>comment-preview}}`,{{/each}}];
const followingArr = [{{#each followings}}`{{>following-preview}}`,{{/each}}];
const isCurrentUser = {{#if isCurrentUser}}true{{else}}false{{/if}};

const container = document.querySelector("#posts-container");
const filterAll = document.querySelector("#filter-all");
const filterPosts = document.querySelector("#filter-posts");
const filterComments = document.querySelector("#filter-comments");
const filterFollowings = document.querySelector("#filter-followings");
var tempFilter = filterAll.querySelector(".filter-name");

filterAll.addEventListener("click", function(){
    setFilter(filterAll);
    clear(container);
    loadPosts([...discussionArr, ...commentArr, ...followingArr], "posts");
});

filterPosts.addEventListener("click", function(){
    setFilter(filterPosts);
    clear(container);
    loadPosts(discussionArr, "discussions");
});

filterComments.addEventListener("click", function(){
    setFilter(filterComments);
    clear(container);
    loadPosts(commentArr, "comments");
});

filterFollowings.addEventListener("click", function(){
    setFilter(filterFollowings);
    clear(container);
    loadPosts(followingArr, "followings");
}
);

/**
 * Set the element inside filter-box to be active
 * @param  {element} element
 */
function setFilter(element){
    if(tempFilter)
        tempFilter.classList.toggle("active");
    tempFilter = element.querySelector(".filter-name");
    tempFilter.classList.toggle("active");
}

/**
 * This shows all the posts in HTML
 * @param  {post[]} postArr
 */
function loadPosts(postArr, typePlaceholder){
    if(postArr === undefined || postArr.length == 0){
        container.innerHTML = 
        `<div id="scaffold">
            <img src="../images/design/404.png">
            <h1 id="text-title">No ${typePlaceholder} yet</h1>
        </div>`;
        return;
        // toggle(loadMore, 0);
    }
    for(const post of postArr){
        container.insertAdjacentHTML('beforeend', post);
    }    
}

</script>